
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env
backend/weights/*

.idea/
.vscode/
*.swp
.DS_Store

docker-compose.override.yml

backend/tmp*/
backend/data/
backend/metashape/
backend/runs/

frontend/node_modules/
frontend/dist/
frontend/.env.local