
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env
best.pt

.idea/
.vscode/
*.swp
.DS_Store

docker-compose.override.yml

backend/tmp*/
backend/data/
backend/metashape/
backend/runs/
backend/.DS_Store

frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.DS_Store